<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front-end</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/style.css">

</head>

<body>
    <header>
        <nav class="nav">
            <ul class="nav_list">
                <li class="text nav__items"><a href="index.html">Home</a></li>
                <li class="text nav__items"><a href="about.html">Sobre mim</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="main_box box">
            <h1 class="title">Eleve seu negócio digital a outro nível<span class="enfase"> com um Front-end de
                    qualidade!</span></h1>
            <p class="text">Olá! Sou Joana Santos, desenvolvedora Front-end com especialidade em React, HTML e CSS.
                Ajudo pequenos
                negócios e designers a colocarem em prática boas ideias. Vamos conversar?</p>
            <div class="container_botao box">
                <h2 class="title sub">Acesse minhas redes:</h2>
                <a href="#" class="botao__primario link">
                    <img src="../assets/imgs/Logo linkedin.png" alt="">
                    Linkedin</a>
                <a href="#" class="botao__primario git">
                    <img src="../assets/imgs/Logo Github.png" alt="">
                    Github</a>
                <a href="#" class="botao__primario twitch">
                    <img src="../assets/imgs/Logo Twitch.png" alt="">
                    Twitch</a>
            </div>
        </div>
        <div class="box box_imagem">
            <img src="../assets/imgs/Imagem.png" alt="" class="img">
        </div>
    </section>
    <footer class="rodape">
        <p>Desenvolvido por Gabriel Assis.</p>
    </footer>
</body>

</html>